@import "typography";
@import "mixin";
@import "var";


$layout-breakpoint-small: 768px;

body {
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
}
h1 {
  color: $color2;
  font-size: 38px;
  line-height: 25px;
  font-weight: 300;
  letter-spacing: 4px;
  height: $Lheight;
}
.collapse {
  .navbar-nav {
    .nav-item {
      font-size: 18px;
      font-weight: 400;

      .nav-link {
        .active {
          color: #0082f3;
        }
      }
    }
  }
}
/*Banner-Start*/
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      180deg,
      rgba(46, 157, 255, 0.5),
      rgba(46, 157, 255, 0.22)
    ),
    url("..//images/background.jpg");
  border-bottom: 5px solid $color2;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;

  h1 {
    color: $color;
    font-size: 66px;
    line-height: $Lheight;
    font-weight: $Fweight;
    letter-spacing: 4px;
  }
  h5 {
    color: $color2;
    font-size: 25px;
    line-height: $Lheight;
    font-weight: $Fweight;
    letter-spacing: 4px;
    padding-top: 35px;
  }
  .btn {
    background-color: $color2;
    color: $color;
    padding: 14px 38px;
  }
  .btn2 {
    @include button;
  }

  .btn2:hover {
    color: $tertiary-color;
    border-color: $tertiary-color;
  }
}
/*Top-Section-Start*/
.todosection {
  h2 {
    @include heading2;
  }
  h6 {
    @include heading6;
  }
  .white-box {
    padding: 50px 10px 0 10px;
    border: 1px solid #dcebf7;
    border-radius: 5px;
    background-color: $color;
    text-align: $center;
  }
  .special {
    margin: 82px auto;
    padding: 10px 24px;
    border: 10px solid $color;
    border-radius: 50%;
    text-align: $center;
    background-color: $color2;
    box-shadow: 0 0 0 1px #2e9dff;

    font-size: 50px;
    color: #fff;
  }
  .boxtext {
    h3 {
      margin-top: 0px;
      margin-bottom: 0px;
      color: #676770;
      font-size: 20px;

      line-height: 30px;
      font-weight: $Fweight;
      letter-spacing: 7px;
      text-transform: uppercase;
    }
    p {
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 14px;
      line-height: 25px;
      font-weight: $Fweight;
    }
  }
}
/*Services-section-start*/
.Services {
  background-color: #192024;

  h2 {
    @include h2;
  }
  h6 {
    @include h2;
  }
  .Services {
    .servicesheading {
      color: white;
    }
  }
  .btn2 {
    @include button;
  }
}
/*tabsection-Start*/
.tabsection {
  h2 {
    @include heading2;
  }
  h6 {
    @include heading6;
  }

  .btn3 {
    border: 1px solid $color;
    background: $tertiary-color;
    margin-left: 10px;
    padding: 12px 44px;
    color: $color;
    border-radius: 6px;
  }

  .btncolor {
    background-color: #92a0ad;
    &:hover {
      background-color: #2e80b6;
    }
  }
}
/*Footer-Start*/
footer {
  background-color: #383838;

  h6 {
    @include heading6;
  }
}
footer ul {
  padding-left: 0;
  list-style-type: none;
}
footer ul li{
  color: #fff;
  padding-bottom: 10px;
  padding-top: 4px;
}
/*Media-Query*/
@media (max-width:$layout-breakpoint-small) {
  p {
    font-size:13px;
  }
  .banner h1 {
    color: #fff;
    font-size: 35px;
  }
  
  h2{
    font-size: 25px;
}
h3{
    font-size: 22px;
}
h6{
  font-size:13px;
}
}
